* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #c4c3ca;
  overflow-x: hidden;
  /* background-color: black; */
}

body h1,
h2,
h3 {
  font-family: "Viga", sans-serif;
}

body p {
  font-family: "Fauna One", serif;
}

a {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ad957a;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8f7c67;
}

/* starting Navigation */
.cd-header {
  position: fixed;
  width: 100%;
  top: -12px;
  left: 0;
  z-index: 100;
  background: rgba(25, 25, 25, 0.541);
}
.header-wrapper {
  position: relative;
  width: calc(100% - 100px);
  margin-left: 50px;
}
.logo-wrap {
  position: absolute;
  display: block;
  right: 0;
  top: 40px;
  cursor: pointer;
}
.logo-wrap a {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  color: #fff;
  transition: all 0.3s ease-out;
  text-decoration: none;
  padding-right: 20px;
}
.logo-wrap a span {
  color: #ad957a;
}
.logo-wrap a:hover {
  color: #ad957a;
}

.logo-wrap a span:hover {
  color: #fff;
}
.nav-but-wrap {
  position: relative;
  display: inline-block;
  float: left;
  padding-left: 15px;
  padding-top: 15px;
  margin-top: 26px;
  transition: all 0.3s ease-out;
}
.menu-icon {
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: block;
}
.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #ad957a;
  margin-bottom: 7px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
  transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, background-color 0.5s ease;
  transition: transform 0.2s ease, background-color 0.5s ease,
    -webkit-transform 0.2s ease;
}
.menu-icon__line-left {
  width: 16.5px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.menu-icon__line-right {
  width: 16.5px;
  float: right;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}
.menu-icon:hover .menu-icon__line-left,
.menu-icon:hover .menu-icon__line-right {
  width: 30px;
}
.nav {
  position: fixed;
  z-index: 98;
}
.nav:before,
.nav:after {
  content: "";
  position: fixed;
  top: 20px;
  left: 50px;
  width: 0;
  height: 0;
  background-color: rgba(20, 21, 26, 0.6);
  border-bottom-right-radius: 200%;
  z-index: -1;
  transition: border-radius linear 0.8s,
    width cubic-bezier(0.77, 0, 0.175, 1) 0.6s,
    height cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
}
.nav:after {
  background-color: rgba(9, 9, 12, 1);
  /* background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg'); */
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  box-shadow: 6px 7px 28px 0 rgba(141, 141, 141, 0.3);
}
.nav:before {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.nav__content {
  position: fixed;
  visibility: hidden;
  top: 90px;
  left: 50px;
  width: 280px;
  text-align: left;
}
.nav__list {
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 2;
}
.nav__list-item {
  position: relative;
  display: block;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
  opacity: 0;
  text-align: left;
  color: #fff;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 2px;
  -webkit-transform: translate(30px, 0%);
  transform: translate(30px, 0%);
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, transform 0.2s ease;
  transition: opacity 0.2s ease, transform 0.2s ease,
    -webkit-transform 0.2s ease;
  margin-top: 7px;
  margin-bottom: 7px;
}
.nav__list-item a {
  position: relative;
  text-decoration: none;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  z-index: 2;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.nav__list-item a:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 5px;
  height: 0;
  opacity: 0;
  background-color: #ad957a;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.nav__list-item a:hover:after {
  height: 100%;
  opacity: 1;
  top: 0;
}
.nav__list-item a:hover {
  color: #ad957a;
}

.nav__list-item.active-nav a {
  color: #ad957a;
}
.nav__list-item.active-nav a:after {
  height: 100%;
  opacity: 1;
  top: 0;
}
body.nav-active .nav__content {
  visibility: visible;
}
body.nav-active .menu-icon__line {
  background-color: #fff;
  -webkit-transform: translate(0px, 0px) rotate(-45deg);
  transform: translate(0px, 0px) rotate(-45deg);
}
body.nav-active .menu-icon__line-left {
  width: 15px;
  -webkit-transform: translate(2px, 4px) rotate(45deg);
  transform: translate(2px, 4px) rotate(45deg);
}
body.nav-active .menu-icon__line-right {
  width: 15px;
  float: right;
  -webkit-transform: translate(-3px, -3.5px) rotate(45deg);
  transform: translate(-3px, -3.5px) rotate(45deg);
}
body.nav-active .menu-icon:hover .menu-icon__line-left,
body.nav-active .menu-icon:hover .menu-icon__line-right {
  width: 15px;
}
body.nav-active .nav {
  visibility: visible;
}
body.nav-active .nav:before,
body.nav-active .nav:after {
  width: 250px;
  height: 379px;
  border-radius: 15px;
}
body.nav-active .nav:after {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
body.nav-active .nav:before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
body.nav-active .nav__list-item {
  opacity: 1;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: opacity 0.3s ease, color 0.3s ease,
    -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease,
    -webkit-transform 0.3s ease;
}
body.nav-active .nav__list-item:nth-child(0) {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
body.nav-active .nav__list-item:nth-child(1) {
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
body.nav-active .nav__list-item:nth-child(2) {
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
body.nav-active .nav__list-item:nth-child(3) {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
body.nav-active .nav__list-item:nth-child(4) {
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s;
}
body.nav-active .nav__list-item:nth-child(5) {
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}
body.nav-active .nav__list-item:nth-child(6) {
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
}
body.nav-active .nav__list-item:nth-child(7) {
  -webkit-transition-delay: 1.4s;
  transition-delay: 1.4s;
}
body.nav-active .nav__list-item:nth-child(8) {
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
}
body.nav-active .nav__list-item:nth-child(9) {
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s;
}
body.nav-active .nav__list-item:nth-child(10) {
  -webkit-transition-delay: 1.7s;
  transition-delay: 1.7s;
}
/* ending Navigation */

/*starting heroHeader*/
.hero {
  width: 100%;
  background-color: #000;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  /* padding: 20px; */
  height: fit-content;
  min-height: 91vh;
  position: relative;
}

.child {
  width: 500px;
  justify-items: center;
  text-align: center;
  color: #ad957a;
  margin: auto 5%;
}

.child img {
  width: 100%;
}

.child h2,
p {
  color: #a9a7a7;
}

.child p {
  font-size: 16px;
  font-weight: lighter;
}

.child button {
  background-color: #ad957a;
  border: none;
  border-radius: 20px;
  padding: 5px;
  width: 30%;
  height: 40px;
  font-weight: bold;
  font-size: medium;
  transition: 1s;
}

.child button:hover {
  border: 2px solid #ad957a;
  border-radius: 20px;
  padding: 5px;
  width: 25%;
  height: 40px;
  font-weight: bold;
  color: #ad957a;
  background-color: black;
  font-size: medium;
}

/*ending heroHeader*/

.container {
  width: 100%;
  background-color: #f1ebe5;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  /* padding: 20px; */
  height: fit-content;
  align-items: stretch;
  align-items: flex-end;
}

.container2 {
  width: 100%;
  background-color: #f1ebe5;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  /* padding: 20px; */
  height: fit-content;
  align-items: stretch;
  align-items: flex-end;
}

/*starting about section*/
.child2 {
  width: 500px;
  justify-items: center;
  /* text-align: left; */
  /* color: #ad957a; */
  margin: auto 5%;
  padding: 10px 0px 40px 0px;
}

.child2 p {
  color: #000;
}

.child2 dl dt {
  font-weight: bold;
}

.child2 dl dt {
  color: #ad957a;
  padding-right: 5px;
}

.child2 dl dt:hover {
  color: #000;
}

.list {
  padding-left: 7px;
  color: #ad957a;
  transition: 0.3s all linear;
  font-family: "Fauna One", serif;
}
.list:hover {
  padding-left: 1px;
  color: #000;
}
.me {
  color: #000;
  /* border: 4px solid #ad957a; */
  /* border-radius: 54px; */
  padding: 30px;
  font-size: 15px;
  margin-top: 20px;
  line-height: 35px;
  margin-bottom: 100px;
  box-shadow: -5px 6px 10px #25253a57;
  text-align: left;
  font-weight: lighter;
}

.child2 h1 {
  color: #000;
}

.line:after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #ad957a;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: -7px;
  border-radius: 4px;
}
/*ending about section*/

/*starting skills section*/
.child3 {
  width: 500px;
  justify-items: center;
  text-align: left;
  color: #ad957a;
  margin: auto 5%;
  padding: 20px 0px 40px 0px;
}

.progress-bar {
  background-color: #c8c3c3;
  border-radius: 1.25em;
  width: 300px;
  height: 16px;
}

.progress-value {
  color: #fff;
  text-align: center;
  background-color: #ad957a;
  transition: 0.3s all linear;
  border-radius: 1.25em;
  height: 16px;
  font-size: 10px;
}
.value {
  padding: 8px;
}
.skill {
  margin-left: 8px;
  text-align: left;
  color: #c8c3c3;
  font-weight: bold;
  font-size: 13px;
}

.hLine {
  width: 60%;
  color: #c8c3c3;
}

.skillTitle {
  text-align: left;
  color: #c8c3c3;
}

.skillDiv {
  margin-top: 3px;
}
/*ending skills section*/

/*starting exeperince section*/
.child4 {
  width: 266px;
  justify-items: center;
  text-align: center;
  color: #000;
  margin: auto 4.2%;
  padding: 20px 0px 40px 0px;
}

.card {
  height: 300px;
  /* background-image: url("./pattern.jpg"); */
  border-radius: 20px;
  /* border: 3px solid #ad957a; */
  margin-bottom: 50px;
  /* box-shadow: 5px 10px 8px #ccc; */
  box-shadow: 5px 6px 15px #25253a57;
  position: relative;
}

.card:hover {
  margin-bottom: 40px;
  box-shadow: 5px 6px 23px #25253a3d;
  /* transition: 1s; */
}

.top {
  width: 100%;
  height: 20%;
  border-radius: 20px 20px 0 0;
  background-image: url("./pattern.jpg");
  position: absolute;
  top: 0%;
  color: #ad957a;
}

.top h3{
  /* margin: auto 0px; */
  padding: 18px 0px;
}

.content{
  text-align: left;
  position: absolute;
  top:22%;
  padding: 15px;
  color: #000;
  /* font-size: 20px; */
  margin: auto 0px;
}

.content span{
  font-weight: bold;
  color: #c4c3ca;
}
 .content p{
  color: #000;
 }

.bottom {
  width: 100%;
  height: 5%;
  border-radius: 0px 0px 20px 20px;
  position: absolute;
  bottom:12%;;
}

.reponser{
  padding: 10px;
  background-color: #000;
  color: #ad957a;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  width: 110px;
  cursor: pointer;
  transition: 2s;
}

.reponser:hover{
  padding: 10px;
  background-color: #ad957a;
  color: #000;
  border:2px solid #000;
  border-radius: 20px;
  font-weight: bold;
  width: 110px;
  cursor: pointer;
}
/*ending exeperince section*/

/*starting small section*/
.child5 {
  width: 300px;
  justify-items: center;
  text-align: center;
  color: #c8c3c3;
  margin: auto 5%;
  padding: 60px 0px;
}

.child5 h2 {
  margin-bottom: 20px;
  text-align: center;
}

.child5 button {
  background-color: #ad957a;
  border: none;
  border-radius: 20px;
  padding: 5px;
  width: 10%;
  height: 40px;
  font-weight: bold;
  font-size: medium;
  transition: 1s;
  margin-top: 20px;
}

.child5 button:hover {
  border: 2px solid #ad957a;
  border-radius: 20px;
  padding: 5px;
  width: 13%;
  height: 40px;
  font-weight: bold;
  color: #ad957a;
  background-color: black;
  font-size: medium;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #000;
  margin: auto;
  padding: 30px;
  border: 3px solid #ad957a;
  border-radius: 20px;
  color: #c8c3c3;
  width: 50%;
  position: relative;
  top: 25%;
  text-align: left;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  height: 97px;
  position: absolute;
  left: 96%;
  top: 0%;
}

.close:hover,
.close:focus {
  color: #ad957a;
  text-decoration: none;
  cursor: pointer;
}

.child5 ul {
  list-style: none;
  cursor: pointer;
}

.child5 i {
  font-size: 18px;
}

.child5 a {
  text-decoration: none;
  color: #c8c3c3;
  font-weight: 500;
}

.child5 a:hover {
  text-decoration: none;
  color: #ad957a;
  font-weight: 500;
}

.child5 ul li:hover {
  color: #ad957a;
}

.child5 ul li {
  padding: 3px;
}

/*ending small section*/

/*starting projects section*/
.child6 {
  width: 300px;
  justify-items: center;
  text-align: center;
  color: #000;
  margin: auto 4.2%;
  padding: 15px 0px 40px 0px;
}

.child6 i {
  color: #000;
  font-size: 55px;
  margin-bottom: 10px;
}

.child6 p {
  color: #676363;
  font-size: 15px;
}

.child6 i:hover {
  color: #ad957a;
}

/*ending projects section*/

/*starting footer*/
.child7 {
  width: 300px;
  justify-items: center;
  text-align: center;
  color: #c8c3c3;
  margin: auto 4.2%;
  padding: 20px 0px 40px 0px;
  text-decoration: underline;
  height: 270px;
}

.child7 h3 {
  text-align: center;
}

.child7 input {
  width: 100%;
  height: 30px;
  padding: 10px;
  border-radius: 20px;
  margin: 10px 0px;
}

.child7 textarea {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.child7 button {
  background-color: #ad957a;
  border: none;
  border-radius: 20px;
  padding: 5px;
  width: 30%;
  height: 40px;
  font-weight: bold;
  transition: 2s;
}

.child7 button:hover {
  border: 2px solid #ad957a;
  border-radius: 20px;
  padding: 5px;
  width: 33%;
  height: 40px;
  font-weight: bold;
  color: #ad957a;
  background-color: black;
}

.child7 i {
  color: #c8c3c3;
  font-size: 20px;
  padding: 20px;
}

.accounts i {
  color: #c8c3c3;
  font-size: 35px;
  padding: 20px;
}

.accounts i:hover {
  color: #ad957a;
}

.info i {
  font-size: 23px;
  padding: 5px;
  color: #ad957a;
}

.info {
  margin-bottom: 12px;
  margin-top: 10px;
}

/*ending footer*/

/*starting responsive*/
@media screen and (max-width: 1249px) {
  .hero {
    flex-wrap: wrap-reverse;
    padding-bottom: 20px;
  }

  .child button {
    width: 35%;
  }

  .child button:hover {
    width: 30%;
  }

  .child2 p {
    font-size: 13px;
  }
  .me{
    font-size: 13;
  }
  .child2 dt{
    font-size: 13;
  }
  .child3 {
    width: 300px;
    text-align: center;
  }
  .child5 button {
    width: 40%;
  }
  .child5 button:hover {
    width: 45%;
  }
  .container2 {
    flex-wrap: wrap-reverse;
  }
  .modal-content {
    width: 80%;
  }
  .close {
    left: 95%;
  }
 .child7{
   width: 20%;
 }
 .cont div{
  margin: 10px auto;
}

 .info{
   width: 70%;
   margin-top: 3%;
 }
}
@media screen and (max-width: 422px) {
  .child button {
    width: 50%;
  }

  .child button:hover {
    width: 45%;
  }

  .child2 p {
    font-size: 13px;
  }
  .logo-wrap a {
    font-size: 15px;
    padding-right: 0px;
  }
  .nav-but-wrap {
    padding-left: 0px;
  }
  .child3 {
    width: 62%;
    text-align: center;
  }
  .container {
    text-align: center;
  }
  .child5 button {
    width: 40%;
  }
  .child5 button:hover {
    width: 45%;
  }
  .modal-content {
    width: 80%;
  }
  .close {
    left: 90%;
  }
  .info{
    margin-top: 12%;
  }
  .child7 h3{
    font-size: 15px;
  }
}
/*ending responsive*/
.area {
  background: #000;
  /* background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);   */
  width: 100%;
  /* height:100vh; */
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
